config MOTOR_DRV_MAX77833
	tristate "Maxim MAX77833 motor"
	default n
	depends on MFD_MAX77833

config MOTOR_DRV_MAX77854
	tristate "Maxim MAX77854 motor"
	default n
	depends on MFD_MAX77854

config MOTOR_DRV_SM5720
	tristate "SM5720 motor"
	default n
	depends on MFD_SM5720 && I2C

config SS_VIBRATOR
	tristate "SS_VIBRATOR"
	default n
	help
	  Say Y to enable SAMSUNG VIBRATOR support

config MOTOR_DRV2624
	tristate "motor"
	default n
	help
	  Say Y to enable MOTOR DRV2624.

config BOOST_POWER_SHARE
	bool "Boost Power Share"
	default n
	depends on MOTOR_DRV2624 && I2C
	help
	  Say Y to enable Boost Power(5V) share.

config BLDC_VIBRATOR
	tristate "BLDC_VIBRATOR"
	default n
	help
	  Say Y to enable MOTOR BLDC drive by PMIC support

config MOTOR_S2MU004
	tristate "s2mu004 haptic driver"
	default n
	depends on I2C
	help
	 Say Y to include support for S.LSI S2MU004 Haptic driver.
